# Temp and swap files
.Python
*~
*.pyc
*.swp
*.swo
.DS_Store
CACHE

# virtualenv/nodeenv stuff
bin
include
lib
admin_proj/install.cfg
admin_proj/local/
admin_proj/share/
admin_proj/src/
server_proj/local/
web_proj/install.cfg
web_proj/local/
web_proj/share/
web_proj/src/
labstats_proj/install.cfg
labstats_proj/local/
labstats_proj/share/
labstats_proj/src/

# local configs and sqlite3 databases
*.db
local_settings.py
wsgi.py

# Apps - these should all be treated as their own repositories
spacescout_admin
spacescout_docs
spotseeker_server
spacescout_web
spacescout_labstats

server_proj/space_images/*
