# Temp and swap files
.Python
*~
*.pyc
*.swp
*.swo
.DS_Store
CACHE

# virtualenv stuff
bin
include
lib

# local configs and sqlite3 databases
*.db
local_settings.py

# Apps - these should all be treated as their own repositories
spacescout_admin
spacescout_docs
spotseeker_server
spacescout_web
